body{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    padding-right: 60px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #000;
}


input{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

label{
    display: flex;
    text-align: left;
}

button{
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 108%;
    padding: 10px 20px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
}

button:hover{
    background-color: #45a049;
}


a{
    text-decoration: none;
    color: rgb(0, 255, 102);
}

